@model CodingBlogDemo2.Models.CodeSnippetNoAnswer


<form asp-route="CodeSnippetNoAnswer" role="form" class="form-horizontal" id="3" name="3">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" name="category" value="3" />
    <hr />
    <div style="position: relative; right: 100px;">
        <div class="form-group">
            <label asp-for="Name" class="col-md-5 control-label"></label>
            <div>
                @Html.DisplayFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description" class="col-md-5 control-label"></label>
            <div>
                @Html.DisplayFor(model => model.Description)

            </div>
        </div>

        <div class="form-group">
            <label asp-for="Code" class="col-md-5 control-label"></label>
            <div>
                <textarea asp-for="Code" class="col-md-2 form-control">
                    @Html.DisplayFor(model => model.Code)
                </textarea>
            </div>
        </div>
        <div class="form-group">
            @*this compile button will create an ajax request to a web api that will return a value of the compiled code!! will not refresh*@
            <button class="btn btn-primary">Compile</button>

            <input type="submit" class="btn btn-success col-md-offset-5 col-md-2" value="Submit Assignment" />
        </div>
    </div>
</form>


@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-route="EditPost" asp-route-id="@ViewBag.CourseId" asp-route-assignmentId="@Model.CodeSnippetNoAnswerId" asp-route-categoryId="3">Edit</a> |
        <form method="post" asp-route="DeletePost" asp-route-id="@ViewBag.CourseId" asp-route-assignmentId="@Model.CodeSnippetNoAnswerId" asp-route-categoryId="3">
            <input type="submit" class="btn btn-danger" value="Delete" />
        </form>
    </div>
}

<script>

    var editor = CodeMirror.fromTextArea(document.getElementById("Code"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-java",
        theme: "base16-dark"
    });

    var mac = CodeMirror.keyMap.default == CodeMirror.keyMap.macDefault;
    CodeMirror.keyMap.default[(mac ? "Cmd" : "Ctrl") + "-Space"] = "autocomplete";

</script>