@model CodingBlogDemo2.Models.ViewModels.HomePageViewModel
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <span style="font-weight: bold; color: #337ab7;">
                        Your Activity <i class="fa fa-rss" aria-hidden="true"></i>
                    </span>
                </h4>
            </div>
            <div class="panel-body">
                @if(Model.Activities.Count() <= 0)
                {
                    <p class="text-center">No Activity...</p>

                }
                @foreach (Activity a in Model.Activities)
                {
                    var timeDifference = (DateTime.Now - a.Time);

                    @if (a.Type == "CourseCreation")
                    {

                        <div class="col-md-9">
                            <p>You created course: <b>@a.CourseName</b></p>
                        </div>
                        <div class="col-md-3">

                            @if (timeDifference.Days > 0)
                    {

                                <p>@String.Format("{0} day(s) ago", timeDifference.Days)</p>

                            }
                            else
                            {

                                <p>@String.Format("{0:hh} hrs {0:mm} mins ago", timeDifference)</p>
                            }
                        </div>
                    }
                    else if (a.Type == "CourseEdit")
                    {
                        <div class="col-md-9">
                            <p>You edited course: <b>@a.CourseName</b></p>
                        </div>
                        <div class="col-md-3">
                            @if (timeDifference.Days > 0)
                    {

                                <p>@String.Format("{0} day(s) ago", timeDifference.Days)</p>

                            }
                            else
                            {

                                <p>@String.Format("{0:hh} hrs {0:mm} mins ago", timeDifference)</p>
                            }
                        </div>
                    }
                    else if (a.Type == "PostCreation")
                    {
                        <div class="col-md-9">
                            <p>You created a post: <u><i>@a.PostName</i></u> in <b>@a.CourseName</b></p>
                        </div>
                        <div class="col-md-3">
                            @if (timeDifference.Days > 0)
                    {

                                <p>@String.Format("{0} day(s) ago", timeDifference.Days)</p>

                            }
                            else
                            {

                                <p>@String.Format("{0:hh} hrs {0:mm} mins ago", timeDifference)</p>
                            }

                        </div>
                    }

                    else if (a.Type == "PostEdit")
                    {
                        <div class="col-md-9">
                            <p>You edited a post: <u><i>@a.PostName</i></u> in <b>@a.CourseName</b></p>
                        </div>
                        <div class="col-md-3">
                            @if (timeDifference.Days > 0)
                    {

                                <p>@String.Format("{0} day(s) ago", timeDifference.Days)</p>

                            }
                            else
                            {

                                <p>@String.Format("{0:hh} hrs {0:mm} mins ago", timeDifference)</p>
                            }


                        </div>
                    }
                    else if (a.Type == "PostSubmission")
                    {
                        <div class="col-md-9">
                            <p>You submitted to: <u><i>@a.PostName</i></u> in <b>@a.CourseName</b></p>
                        </div>
                        <div class="col-md-3">
                            @if (timeDifference.Days > 0)
                    {

                                <p>@String.Format("{0} day(s) ago", timeDifference.Days)</p>

                            }
                            else
                            {

                                <p>@String.Format("{0:hh} hrs {0:mm} mins ago", timeDifference)</p>
                            }


                        </div>

                    }

                }
                <div class="text-center">
                    <ul class="pagination ">
                        <pager source="(Sakura.AspNetCore.IPagedList)@Model.Activities" />
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        @if (User.IsInRole("Admin"))
        {
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a asp-controller="Course" asp-action="Index" style="font-weight: 500; font-size: 14px;">Courses 
                        <i class="fa fa-book" aria-hidden="true"></i></a>
                </div>

                @foreach (var course in Model.CourseList.CourseInfos)
                {
                    @*if(Model.Courses.Count() > 5)
                        {

                            <p>hello</p>
                        }*@
                    <div class="panel-body" style="padding: 0px">
                        <h5 style="padding: 10px 15px;"><a asp-controller="Course" asp-action="Show" asp-route-id="@course.Course.CourseId">@course.Course.Name</a></h5>
                        <p style="padding-left: 15px"><span style="font-weight: bold">Instructor:</span> Professor @course.InstructorLName</p>
                        <p style="padding-left: 15px">Recent Activity: @String.Format("{0:MMM dd, yyyy hh:mm tt}", @course.Course.WhenEdited)</p>

                    </div>
                }

            </div>

        }


        <div class="panel panel-default">
            <div class="panel-heading">
                <a asp-controller="Course" asp-action="Index" style="font-weight: 500; font-size: 14px;">
                    Course Registrations

                    <i class="fa fa-graduation-cap" aria-hidden="true"></i> @Model.CourseList.CoursesRegistered.Count()
                </a>
            </div>
            <div class="panel-body" style="padding: 0px">
                @foreach (var course in Model.CourseList.CoursesRegistered)
                {

                    <h5 style="padding: 10px 15px;"><a asp-controller="Course" asp-action="Show" asp-route-id="@course.Course.CourseId">@course.Course.Name</a></h5>
                    <p style="padding-left: 15px"><span style="font-weight: bold">Instructor:</span> Professor @course.InstructorLName</p>
                    <p style="padding-left: 15px">Recent Activity: @String.Format("{0:MMM dd, yyyy hh:mm tt}", @course.Course.WhenEdited)</p>


                }
            </div>

        </div>
    </div>
</div>