@model CodingBlogDemo2.Models.ViewModels.AssignmentViewModel



<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/codemirror-5.31.0/lib/codemirror.js"></script>
<script src="~/codemirror-5.31.0/mode/clike/clike.js"></script>
<link href="/codemirror-5.31.0/lib/codemirror.css" rel="stylesheet" type="text/css" />
<link href="~/codemirror-5.31.0/theme/base16-dark.css" rel="stylesheet" type="text/css" />

<style>
    .CodeMirror {
        border: 1px solid #334;
        width: 400px;
    }
</style>

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

@if(Model.MC != null)
{
    @Html.Partial("ShowMultipleChoice", Model.MC);

}
else if(Model.CodeSnippet != null)
{
    @Html.Partial("ShowCodeSnippet", Model.CodeSnippet)

}
else if (Model.CodeSnippetNoAnswer != null)
{
    @Html.Partial("ShowCodeSnippetNoAnswer", Model.CodeSnippetNoAnswer)

}

@*<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.PostId">Delete</a>
</div>*@


<script>

    //create code mirror instance for code snippets
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        lineNumbers: true,
        matchBrackets: true,
        mode: "text/x-java",
        theme: "base16-dark"
    });

    var mac = CodeMirror.keyMap.default == CodeMirror.keyMap.macDefault;
    CodeMirror.keyMap.default[(mac ? "Cmd" : "Ctrl") + "-Space"] = "autocomplete";
</script>