@model CodingBlogDemo2.Models.ViewModels.ResultsViewModel

@{
    ViewData["Title"] = "Results";
}

<script src="~/lib/chartjs/dist/Chart.min.js"></script>

<style>
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 360px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
</style>

@if (ViewBag.isMCResult)
{
    <div class="col-md-7">
    <div class="col-md-offset-3">
        <select class="form-control" id="myselect" name="myselect" required>
            <option value="correctChart" selected="selected"> Correct vs Incorrect</option>
            <option value="answersChart">Student Answers</option>

        </select>
    </div>
        <canvas id="correctChart"></canvas>
        <canvas id="answersChart"></canvas>
    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>@ViewBag.Question</h4>
            </div>
            <div class="panel-body">
                <p>
                    A) @ViewBag.ChoiceA
                </p>
                <p>
                    B) @ViewBag.ChoiceB
                </p>
                <p>
                    C) @ViewBag.ChoiceC
                </p>
                <p>
                    D) @ViewBag.ChoiceD
                </p>
            </div>
        </div>

        <div class="panel panel-default">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Answer</th>
                        <th>Is Correct</th>
                    </tr>


                </thead>
                <tbody>
                    @foreach (var userResults in Model.UserResults)
                    {
                        <tr>
                            <td>@userResults.FName</td>
                            <td>@userResults.LName</td>
                            <td>@userResults.Answer</td>
                            <td>
                                @if (!userResults.IsCorrect)
                                {

                                    <label style="color:red">@userResults.IsCorrect</label>
                                }
                                else
                                {
                                    <label style="color:green">@userResults.IsCorrect</label>


                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}
else if (ViewBag.isCodeSnipResult)
{
    <div class="col-md-7">
        <canvas id="correctChart"></canvas>

    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Student Code</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Code Length</th>
                        <th>Is Correct</th>
                    </tr>


                </thead>
                <tbody>
                    @foreach (var userResults in Model.UserResults)
                    {
                        <tr>
                            <td>
                                <div class="popup" onclick="myFunction()">
                                    Code
                                    <span class="popuptext" id="myPopup">@userResults.UserCode</span>
                                </div>
                            </td>
                            <td>@userResults.FName</td>
                            <td>@userResults.LName</td>
                            <td>@userResults.UserCodeLength</td>
                            <td>@userResults.IsCorrect</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>


}

else if (ViewBag.isCodeSnipNoAnswerResult)
{
    <div class="col-md-7">
        <canvas id="correctChart"></canvas>

    </div>
    <div class="col-md-5">

        <div class="panel panel-default">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Answer</th>
                        <th>Is Correct</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var userResults in Model.UserResults)
                    {
                        <tr>
                            <td>@userResults.FName</td>
                            <td>@userResults.LName</td>
                            <td>@userResults.Answer</td>
                            <td>@userResults.IsCorrect</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
}




        <script>
    $(document).ready(function () {
        $('#answersChart').hide();
        $('#correctChart').show("slow");
        $("#myselect").change(function () {
            var value = $(this).val();
            $('#correctChart').hide();
            $('#answersChart').hide();
            $('#' + value).show("slow");

        });

        var correctCanvas = document.getElementById("correctChart");

        var myChart = new Chart(correctCanvas, {
            type: 'pie',
            data: {
                labels: ["Correct", "Incorrect"],
                datasets: [{
                    label: "Results",
                    backgroundColor: ["#3cba9f", "#c45850"],
                    data: [@Model.CorrectCount, @Model.IncorrentCount]

                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Correct vs Incorrect Results"

                }

            }
        });

        var answersCanvas = document.getElementById("answersChart");
        var myBarChart = new Chart(answersCanvas, {
            type: 'horizontalBar',
            data: {
                labels: ["A", "B", "C", "D"],
                datasets: [
                    {
                        label: "Student Answers",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9"],
                        data: [@Model.UserAnswers.ACount, @Model.UserAnswers.BCount, @Model.UserAnswers.CCount, @Model.UserAnswers.DCount]

                    }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "@ViewBag.Question"

                }

            }


        });

    });
            // When the user clicks on div, open the popup
            function myFunction() {
                var popup = document.getElementById("myPopup");
                popup.classList.toggle("show");
            }

        </script>
