@model CodingBlogDemo2.Models.ViewModels.ResultsViewModel

@{
    ViewData["Title"] = "Results";
}

<script src="~/lib/chartjs/dist/Chart.min.js"></script>

<style>
    /* The Modal (background) */
    .modals {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>

@if (ViewBag.isMCResult)
{
    <div class="col-md-7">
    <div class="col-md-offset-3">
        <select class="form-control" id="myselect" name="myselect" required>
            <option value="correctChart" selected="selected"> Correct Vs Incorrect</option>
            <option value="answersChart">Student Answers</option>

        </select>
    </div>
        <canvas id="correctChart"></canvas>
        <canvas id="answersChart"></canvas>
    </div>
    <div class="col-md-5">
        <div class="row">
            <h3>@ViewBag.Question </h3>
            <p>
               A) @ViewBag.ChoiceA
            </p>
            <p>
                B) @ViewBag.ChoiceB
            </p>
            <p>
                C) @ViewBag.ChoiceC
            </p>
            <p>
                D) @ViewBag.ChoiceD
            </p>
        </div>

        <div class="panel panel-default">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Answer</th>
                        <th>Is Correct</th>
                    </tr>


                </thead>
                <tbody>
                    @foreach (var userResults in Model.UserResults)
                    {
                        <tr>
                            <td>@userResults.FName</td>
                            <td>@userResults.LName</td>
                            <td>@userResults.Answer</td>
                            <td>
                                @if (!userResults.IsCorrect)
                                {

                                    <label style="color:red">@userResults.IsCorrect</label>
                                }
                                else
                                {
                                    <label style="color:green">@userResults.IsCorrect</label>


                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}
else if (ViewBag.isCodeSnipResult)
{
    <div class="col-md-7">
        <canvas id="correctChart"></canvas>

    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Show Code</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Code Length</th>
                        <th>Is Correct</th>
                    </tr>


                </thead>
                <tbody>
                    @foreach (var userResults in Model.UserResults)
                    {
                        <tr>
                            <td>
                                <button class="myBtns">Show Code</button>
                            </td>
                            <td>@userResults.FName</td>
                            <td>@userResults.LName</td>
                            <td>@userResults.UserCodeLength</td>
                            <td>
                                @if (!userResults.IsCorrect)
                                {
                                    <span style="color:red">@userResults.IsCorrect</span>

                                }
                                else
                                {

                                    <span style="color:green">@userResults.IsCorrect</span>

                                }
                            </td>
                        </tr>


                        <div class="modals">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <p>@userResults.UserCode</p>
                            </div>

                        </div>
                    }
                </tbody>
            </table>
        </div>

    </div>


}

else if (ViewBag.isCodeSnipNoAnswerResult)
{
    <div class="col-md-7">
        <canvas id="correctChart"></canvas>

    </div>
    <div class="col-md-5">

        <div class="panel panel-default">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>User Answer</th>
                        <th>Is Correct</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var userResults in Model.UserResults)
                    {
                        <tr>
                            <td>@userResults.FName</td>
                            <td>@userResults.LName</td>
                            <td>@userResults.Answer</td>
                            <td>@userResults.IsCorrect</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
}




        <script>
    $(document).ready(function () {
        $('#answersChart').hide();
        $('#correctChart').show("slow");
        $("#myselect").change(function () {
            var value = $(this).val();
            $('#correctChart').hide();
            $('#answersChart').hide();
            $('#' + value).show("slow");

        });

        var correctCanvas = document.getElementById("correctChart");

        var myChart = new Chart(correctCanvas, {
            type: 'pie',
            data: {
                labels: ["Correct", "Incorrect"],
                datasets: [{
                    label: "Results",
                    backgroundColor: ["#3cba9f", "#c45850"],
                    data: [@Model.CorrectCount, @Model.IncorrentCount]

                }]
            },
            options: {
                title: {
                    display: true,
                    text: "Correct vs Incorrect Results"

                }

            }
        });

        var answersCanvas = document.getElementById("answersChart");
        var myBarChart = new Chart(answersCanvas, {
            type: 'horizontalBar',
            data: {
                labels: ["A", "B", "C", "D"],
                datasets: [
                    {
                        label: "Student Answers",
                        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9"],
                        data: [@Model.UserAnswers.ACount, @Model.UserAnswers.BCount, @Model.UserAnswers.CCount, @Model.UserAnswers.DCount]

                    }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "@ViewBag.Question"

                }

            }


        });

    });
            // Get the modal
            var modals = document.getElementsByClassName("modals");

            // Get the button that opens the modal
            var btns = document.getElementsByClassName("myBtns");

            // Get the <span> element that closes the modal
            var spans = document.getElementsByClassName("close");

            // When the user clicks the button, open the modal 
            for (let i = 0; i < btns.length; i++) {
                btns[i].onclick = function () {
                    modals[i].style.display = "block";
                }
            }

            // When the user clicks on <span> (x), close the modal
            for (let i = 0; i < spans.length; i++) {
                spans[i].onclick = function () {
                    modals[i].style.display = "none";
                }
            }

        </script>
