@model CodingBlogDemo2.Models.ViewModels.AssignmentViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>@ViewBag.folder.Name Folder</h2>

<div>
    <h4>Posts</h4>
    <hr />

    @if (Model.CodeSnippets.Count() <= 0 && Model.MultipleChoices.Count() <= 0 && Model.CodeSnippetNoAnswers.Count() <= 0)
    {
        <h5>
            No posts...
        </h5>
    }
    else
    {
        <table class="table table-bordered table-hover">
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Description</th>
                <th class="text-center">Updated</th>
                <th class="text-center">Type</th>
                <th class="text-center">Options</th>
            </tr>

            @foreach (MultipleChoice mc in Model.MultipleChoices)
            {
                <tr>
                    <td><a asp-route="PostDetails" asp-route-id="@ViewBag.courseId" asp-route-assignmentId="@mc.MultipleChoiceId" asp-route-categoryId="1" asp-route-folderId="@ViewBag.folder.FolderId">@mc.Name</a></td>
                    <td>@mc.Description</td>
                    <td>@mc.WhenEdited</td>
                    <td>Multiple Choice</td>
                    <td class="text-center">
                        <a asp-route="EditPost" asp-route-id="@ViewBag.CourseId" asp-route-assignmentId="@mc.MultipleChoiceId" asp-route-categoryId="1" asp-route-folderId="@ViewBag.folderId" class="btn btn-warning btn-sm">Edit</a>
                        <form style="display:inline" method="post" asp-route="DeletePost" asp-route-id="@ViewBag.CourseId" asp-route-assignmentId="@mc.MultipleChoiceId" asp-route-categoryId="1">
                            <input type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to Delete this assignment?')" value="Delete" />
                        </form>
                        <a asp-route="PostResults" asp-route-id="@ViewBag.CourseId" asp-route-assignmentId="@mc.MultipleChoiceId" asp-route-categoryId="1" class="btn btn-sm btn-default">Results</a>

                    </td>
                </tr>
            }
            @foreach (CodeSnippet cs in Model.CodeSnippets)
            {

                <tr>
                    <td><a asp-route="PostDetails" asp-route-id="@ViewBag.courseId" asp-route-assignmentId="@cs.CodeSnippetId" asp-route-categoryId="2" asp-route-folderId="@ViewBag.folder.FolderId">@cs.Name</a></td>
                    <td>@cs.Description</td>
                    <td>@cs.WhenEdited</td>
                    <td>Code Snippet</td>
                    <td class="text-center">
                        <a asp-route="EditPost" asp-route-id="@ViewBag.CourseId" asp-route-assignmentId="@cs.CodeSnippetId" asp-route-categoryId="2" asp-route-folderId="@ViewBag.folderId" class="btn btn-warning btn-sm">Edit</a>
                        <form style="display:inline" method="post" asp-route="DeletePost" asp-route-id="@ViewBag.CourseId" asp-route-assignmentId="@cs.CodeSnippetId" asp-route-categoryId="2">
                            <input type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to Delete this assignment?')" value="Delete" />
                        </form>
                        <a asp-route="PostResults" asp-route-id="@ViewBag.CourseId" asp-route-assignmentId="@cs.CodeSnippetId" asp-route-categoryId="2" class="btn btn-sm btn-default">Results</a>


                    </td>
                </tr>
            }
            @foreach (CodeSnippetNoAnswer cs in Model.CodeSnippetNoAnswers)
            {
                <tr>
                    <td><a asp-route="PostDetails" asp-route-id="@ViewBag.courseId" asp-route-assignmentId="@cs.CodeSnippetNoAnswerId" asp-route-categoryId="3" asp-route-folderId="@ViewBag.folder.FolderId">@cs.Name</a></td>
                    <td>@cs.Description</td>
                    <td>@cs.WhenEdited</td>
                    <td>Code Evaluation</td>
                    <td class="text-center">
                        <a asp-route="EditPost" asp-route-id="@ViewBag.CourseId" asp-route-assignmentId="@cs.CodeSnippetNoAnswerId" asp-route-categoryId="3" asp-route-folderId="@ViewBag.folderId" class="btn btn-warning btn-sm">Edit</a>
                        <form style="display:inline" method="post" asp-route="DeletePost" asp-route-id="@ViewBag.CourseId" asp-route-assignmentId="@cs.CodeSnippetNoAnswerId" asp-route-categoryId="3">
                            <input type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to Delete this assignment?')" value="Delete" />
                        </form>
                        <a asp-route="PostResults" asp-route-id="@ViewBag.CourseId" asp-route-assignmentId="@cs.CodeSnippetNoAnswerId" asp-route-categoryId="3" class="btn btn-sm btn-default">Results</a>

                    </td>
                </tr>
            }

        </table>
    }
    
</div>
@*
@if (User.IsInRole("Admin"))
{
    <div>
        <form asp-controller="Folder" asp-action="Delete" asp-route-id="@ViewBag.folder.FolderId" asp-route-courseId="@ViewBag.courseId" method="POST">
            <div class="form-actions no-color">
                <a asp-action="Edit" asp-route-id="@ViewBag.folder.FolderId" asp-route-courseId="@ViewBag.courseId" class="btn btn-default">Edit Folder</a>
                <input type="submit" value="Delete Folder" class="btn btn-default" />
            </div>
        </form>
    </div>
}*@
